version: '3'

services:
  postgres:
    image: postgres
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: BhU2020!
    ports:
      - 15432:5432
    volumes:
      - ../dump_postgres:/var/www/html/basic-health-units/dump
    networks:
      - database-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: user@gmail.com
      PGADMIN_DEFAULT_PASSWORD: BhU2020!
    ports:
      - 16543:80
    depends_on:
      - postgres
    networks:
      - database-network

  portainer:
    image: portainer/portainer
    container_name: portainer
    environment:
      - VIRTUAL_HOST=dev.portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../../portainer_data/:/var/www/html/portainer_data
    ports:
      - 9000:9000
    restart: always

  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    command: redis-server
    networks:
      - database-network

  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: BhU2020!
    ports:
      - 27017:27017
    networks:
      - database-network

  mongoclient:
    image: mongoclient/mongoclient
    container_name: mongoclient
    depends_on:
      - mongodb
    ports:
      - 8081:3000
    networks:
      - database-network

  application:
    tty: true
    stdin_open: true
    build: ./
    container_name: basic-health-units
    env_file:
      - .env
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    privileged: true
    volumes:
      - ../:/var/www/html/basic-health-units
    ports:
      - 3000:3000
      - 80:80
    depends_on:
      - postgres
      - mongodb
      - redis
    networks:
      - database-network

networks:
  database-network:
    driver: bridge